@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Playfair+Display:ital@1&family=Prata&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
nav{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgb(9, 9, 126);
}
nav ul{
  display: flex;
  justify-content: space-between;
  font-family: 'DM Serif Display', serif ;
}
nav ul li{
list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 30px;

}
nav a{
  padding: 8px 10px;
}
nav ul li a:hover {
background-color: rgb(30, 155, 155);
color: springgreen;
transform: all 300ms;
}
header {
  background-image: url(./line.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
 height: 100vh;
 display: flex;
 color: white;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
header p {
 padding: 10px 10px;
}
.one {
  
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  display: flex;

 color:goldenrod;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
.one p {
  color: rgb(187, 19, 19);
  text-align: center;
}
.tree {
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  font-size: 30px;
  display: flex;

 color:chartreuse;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.tree p {
font-size: 20x;
  color: black;
}